@import 'https://fonts.googleapis.com/css?family=Raleway';

/* * {
  border: solid red 2px;
} */

h1 {
  color: black;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  font-size: 40px;
}

p {
  margin: 0px;
  padding: 0px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 28px;
}

/* navbar styling starts */
.main-nav-menu {
  display: flex;
  height: 15vh;
  width: 100%;
  background-color: rgb(80, 111, 140);
  justify-content: right;
  align-items: center;
  z-index: 1;
  margin: 0px;
  padding: 0px;
  padding-right: 100px;
  box-sizing: border-box;
}

.logo {
  height: 90%;
  margin-right: auto;
  padding-left: 100px;
  box-sizing: border-box;
}

.main-page-body {
  display: flex;
  flex-direction: column;
  background-color: rgb(227, 227, 227);
  min-height: 95vh;
  max-height: max-content;
  align-items: center;
  margin: 0px;
  padding: 0px;
}

footer {
  display: flex;
  background-color: whitesmoke;
  height: 5vh;
  width: 100%;
  margin: 0px;
  padding: 0px;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}

.main-nav-items {
  background-color: rgb(80, 111, 140);
  z-index: 2;
  float: right;
}

ul li {
  display: inline;
  padding: 15px;
  font-size: 42px;
}

ul li a {
  color: Black;
  text-decoration: none;
}

ul li a:hover {
  opacity: 0.8;
  color: rgb(167, 167, 182);
}

.normalUl {
  display: list-item;
  padding: 3px;
  font-size: 27px;
}


/* SEARCH BAR CSS */

#content {
  padding: 25% 25% 5%;
}

.searchform {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
}


.input-group {
  width: 300px;
}

#search {
  border: 1px;
}

.field {
  display: flex;
  align-items: center;
  justify-content: center;
}

.inputSearch {
  padding-left: 10px;
  font-size: 22px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: 1px solid grey;
  height: 62px;
  width: 500px;
}

.dropdown {
  font-size: 22px;
  border: 1px solid grey;
  height: 66px;
  width: 100px;
}

.searchbtn {
  cursor: pointer;
  border-radius: 0 30px 30px 0;
  border: 1px solid grey;
  background-color: rgb(80, 111, 140);
  color: rgb(10, 10, 11);
  height: 66px;
  width: 75px;
}


.searchbtn:hover {
  opacity: .8;
}

.text-center {
  color: #fff;
}

input {
  width: 600px;
  height: 60px;
}


/* Animal Search Results and Animal Card Stylings */

.animalSearchResults {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  box-sizing: border-box;
  padding: 1%;
}

.animalCard {
  width: 23vw;
  padding: 20px;
  margin: .5%;
  box-sizing: border-box;
  background-color: aliceblue;
  border-radius: 10px;
  border-right: 3px solid grey;
  border-bottom: 2px solid rgb(99, 99, 99);
}

.animalImage {
  border-radius: 10px;
  border-right: 3px solid grey;
  border-bottom: 2px solid rgb(99, 99, 99);
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}
/* login page styling */
.container {
  height: min-content;
  width: auto;
  padding: 20px;
  margin: .5%;
  box-sizing: border-box;
  background-color: aliceblue;
  border-radius: 10px;
  border-right: 3px solid grey;
  border-bottom: 2px solid rgb(99, 99, 99);
  padding: 20px;
  margin-top: 100px;
}

.emailinput {
  padding: 20px;
}

.passwordinput {
  padding: 20px;
}

button {
  width: 100px;
  height: 50px;
  border-radius: 30px;
}

#emailbox {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

#passwordbox {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

#usernamebox {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

#loginbtn {
  display: flex;
  justify-content: space-around;
}

.form {
  display: block;
}

#loginbtn button {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  font-size: 20px;
  padding-bottom: 40px;
}
/* signup styling starts here */
/* .signupContainer {
  width: auto;
  padding: 20px;
  margin: .5%;
  box-sizing: border-box;
  background-color: aliceblue;
  border-radius: 10px;
  border-right: 3px solid grey;
  border-bottom: 2px solid rgb(99, 99, 99);
  padding: 20px;
  margin-top: 100px;
} */

/* styling applied for webpage responsiveness */
@media screen and (max-width: 1200px) {
  ul li {
    font-size: 32px;
  }

  .animalCard {
    width: 46vw;
  }
}

@media screen and (max-width: 992px) {
  ul li {
    font-size: 20px;
  }
}

@media screen and (max-width: 768px) {
  .main-nav-menu {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100vw;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-right: 0px;
  }

  .container {
    width: 80%;
  }

  .logo {
    height: 100px;
    box-sizing: none;
    padding-right: 0px;
    padding-left: 40px;
    margin-right: 0px;
    margin-left: 0px;
  }

  ul li {
    font-size: 24px;
    display: block;
    padding: 5px;
  }

  .animalSearchResults {
    align-items: center;
    justify-content: center;
  }

  .animalCard {
    width: 96vw;
  }

  .inputSearch {
    width: 400px;
  }

  .dropdown {
    width: 75px;
  }

  .searchbtn {
    width: 60px;
  }
}

@media screen and (max-width: 600px) {

  .main-nav-menu {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100vw;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-right: 0px;
  }

  .logo {
    height: 100px;
    box-sizing: none;
    padding-right: 0px;
    padding-left: 40px;
    margin-right: 0px;
    margin-left: 0px;
  }

  ul li {
    font-size: 20px;
    display: block;
    padding: 5px;
  }

  .animalSearchResults {
    align-items: center;
    justify-content: center;
  }

  .animalCard {
    width: 96vw;
  }

  .inputSearch {
    width: 300px;
  }


}

/* account css */
.account-container {
  background-color: aliceblue;
  padding: 40px;
  font-size: 30px;
}

.pet-box {
  font-size: 25px;
  text-align: center;
}

.savePet {
  margin: 4px;
  font-size: medium;
  width: 100px;
}